version: 2.1
orbs:
  auto_test: nowsecure/ci-auto-orb@1.0.5
jobs:
  build:
    docker:
      - image: circleci/openjdk:8-jdk
    steps:
      - attach_workspace:
          at: /tmp/myworkspace
      - checkout
      - run: cp apkpure_app_887.apk /tmp/myworkspace/test.apk
      - auto_test/mobile_security_test:
          auto_file: /tmp/myworkspace/test.apk
          auto_wait: "30"
          auto_score: "50"
          auto_show_status_messages: "true"
#opted in
